<!DOCTYPE html>


<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function () {
      $('#modelForm').submit(function (e) {
        e.preventDefault()  // prevent the form from 'submitting'
        var formData = new FormData($(this)[0]);
        upload(formData, "uploadModel", "modelOutput");
      })
    })
    $(function () {
      $('#dataForm').submit(function (e) {
        e.preventDefault()  // prevent the form from 'submitting'
        var formData = new FormData($(this)[0]);
        upload(formData, "uploadData", "dataOutput");
      })
    })
    $(function () {
      $('#predictForm').submit(function (e) {
        e.preventDefault()  // prevent the form from 'submitting'
        var formData = new FormData($(this)[0]);
        upload(formData, "uploadPredict", "predictOutput");
      })
    })
    function train() {
      //Update donut
      $("#doughnut").css({"border": "20px solid", "border-color": "#ff6817",
    "border-radius": "100px",
    "height": "100px",
    "width": "100px",
    "margin-top": "25px"});
      $.ajax({
        type: "GET",
        url: "/train",
        success: function (responseText) {
          console.log(responseText.Output)
          //Update donut
          $("#doughnut").css({"border": "20px solid", "border-color": "#00d604",
    "border-radius": "100px",
    "height": "100px",
    "width": "100px",
    "margin-top": "25px"});
          $("#trainOutput").text(responseText.Output);
        },
        error: function (data, status, errorString) {
          console.log(data, status, errorString);
          //Update donut
          $("#doughnut").css({"border": "20px solid", "border-color": "#ff5349",
    "border-radius": "100px",
    "height": "100px",
    "width": "100px",
    "margin-top": "25px"});
          alert("Error in Training");
        }
      })
    }

    function upload(formData, Func, u_output) {
      console.log("In Upload Func");
      $.ajax({
        type: "POST",
        url: "/" + Func,
        data: formData,
        contentType: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: function (responseText) {
          console.log(responseText.Output)
          $("#" + u_output).text(responseText.Output);
        },
        error: function (data, status, errorString) {
          console.log(data, status, errorString);
          alert("Error in Uploading");
        }
      })
    }
  </script>


  <meta charset="utf-8" />
  <title>MLI</title>
  <link href="templates/main.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script
    type="text/javascript">WebFont.load({ google: { families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic", "Merriweather:300,300italic,400,400italic,700,700italic,900,900italic", "Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic", "Lora:regular,italic"] } });</script>
</head>

<body>
  <header id="header" class="header-section wf-section">
    <div class="w-container"><a aria-current="page" class="main-title w--current">MLI</a>
      <p class="main-subheading">Welcome to our Machine Learning Interface. Start by Uploading .ipynb model source code
        then training data. Continuously upload newly collected data and train your model from this interface!</p>
      <div class="social-link-group">
        <a href="https://github.com/svott03/MLI" class="social-icon-link w-inline-block"><img
            src="https://assets.website-files.com/5e4b19df0b25ed6cd34d846a/5e4b19df0b25ed33f04d84c2_social-33.svg"
            width="25" alt="" /></a>
      </div>
    </div>
  </header>
  <div class="content-wrapper">
    <div class="w-container">
      <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <div class="post-wrapper"><a class="blog-title-link w-inline-block">
                <h1 class="blog-title">Model Status </h1>
              </a>
              <div class="post-info-wrapper">
                <div class="post-info">Status</div>
                <div class="post-info">|</div><a class="post-info when-link">Training</a>
              </div>
              <div class="doughnut" id="doughnut"></div>

            </div>
          </div>
          <div role="listitem" class="w-dyn-item">
            <div class="post-wrapper"><a class="blog-title-link w-inline-block">
                <h1 class="blog-title">Upload Model</h1>
              </a>
              <div class="post-info-wrapper">
                <div class="post-info">File Format</div>
                <div class="post-info">|</div><a class="post-info when-link">.ipynb</a>
              </div>
              <p class="post-summary">Upload .ipynb source code for working model.
              </p>
              <form id="modelForm">
                <input name="file" type="file" class="custom-file-input" id="modelFile">
                <input type="submit">
              </form>
              <br>
              <p class="post-summary" id="modelOutput"></p>
            </div>
          </div>
          <div role="listitem" class="w-dyn-item">
            <div class="post-wrapper"><a class="blog-title-link w-inline-block">
                <h1 class="blog-title">Upload Data</h1>
              </a>
              <div class="post-info-wrapper">
                <div class="post-info">File Format</div>
                <div class="post-info">|</div><a class="post-info when-link">.csv</a>
              </div>
              <p class="post-summary">Upload csv Data. This should only be new data points. Size limit of 1GB. Original
                Training Data should be uploaded to sql database directly.
              </p>

              <form id="dataForm">
                <input name="file" type="file" class="custom-file-input">
                <input type="submit">
              </form>
              <br>
              <p class="post-summary" id="dataOutput"></p>
            </div>
          </div>
          <div role="listitem" class="w-dyn-item">
            <div class="post-wrapper"><a class="blog-title-link w-inline-block">
                <h1 class="blog-title">Train Model</h1>
              </a>
              <div class="post-info-wrapper">
                <div class="post-info">Training</div>
                <div class="post-info">|</div><a class="post-info when-link">.fit</a>
              </div>
              <p class="post-summary">Click Below to fit model to current Data.
              </p><button onclick="train();" id="trainBtn" class="button-round w-button">Train
                Model</button>
              <br>
              <br>
              <p class="post-summary" id="trainOutput"></p>
            </div>
          </div>
          <div role="listitem" class="w-dyn-item">
            <div class="post-wrapper"><a class="blog-title-link w-inline-block">
                <h1 class="blog-title">Predict</h1>
              </a>
              <div class="post-info-wrapper">
                <div class="post-info">File Format</div>
                <div class="post-info">|</div><a class="post-info when-link">.csv</a>
              </div>
              <p class="post-summary">Click Below to upload instance for model to predict. Csv File should have 1 row.
              </p>
              <form id="predictForm">
                <input name="file" type="file" class="custom-file-input">
                <input type="submit">
              </form>
              <br>
              <p class="post-summary" id="predictOutput"></p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <footer class="footer wf-section">
    <div class="w-container">
    </div>
  </footer>

</body>

</html>